TZ=UTC
PORT=4343
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
APP_URL=

# Cloudflare R2 Bucket
DRIVE_DISK=r2
R2_KEY=
R2_SECRET=
R2_BUCKET=
R2_ENDPOINT=

# Pterodactyl API
PTERODACTYL_PANEL_URL=https://your-panel.com
PTERODACTYL_API_KEY=ptlc_YOUR_API_KEY

# Discord Webhook
DISCORD_WEBHOOK_URL=